<div class="container">
  <mat-card>
    <mat-tab-group>

      <!-- PROFIL -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>{{icon.person}}</mat-icon>
          {{'profile' | translate}}
        </ng-template>
        <app-profile></app-profile>
      </mat-tab>

      <!-- ACCOUNT -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>{{icon.security}}</mat-icon>
          {{'account' | translate}}
        </ng-template>
        <app-account></app-account>
      </mat-tab>

      <!-- SUBSCRIPTION -->
      <mat-tab [disabled]="version < 1">
        <ng-template mat-tab-label>
          <mat-icon>{{icon.money}}</mat-icon>
          {{'subscription' | translate}}
        </ng-template>
        <app-subscription></app-subscription>
      </mat-tab>

    </mat-tab-group>
  </mat-card>
</div>
