@import 'src/libs/variables';

::ng-deep .mat-dialog-container {
  padding: 5vh 4vw;
}

// SNACK-BAR
::ng-deep .mat-snack-bar-container {
  background-color: $Green700;
  color: $White;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  // TITLE
  article .mat-icon {
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: $Red300;
    }
  }

  /* FORM */

  form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 5vh 2vw;
    box-sizing: border-box;

    // INPUTS

    section {
      display: flex;
      flex-direction: column;
      flex: 42%;
      box-sizing: border-box;
      margin-bottom: 2vh;

      &:first-of-type {
        margin-right: 3vw;
      }
    }
    article {
      width: 100%;
    }
  }
}
