<div class="container">
  <form [formGroup]="profileForm" (ngSubmit)="editProfile()">

    <!-- USERNAME -->
    <mat-form-field>
      <mat-label [class]='{validate : profileForm.value.displayName}'>{{'USER.username' | translate}}</mat-label>
      <input matInput formControlName='displayName' type="text" [class]='{validate : profileForm.value.displayName}'>
    </mat-form-field>

    <!-- FIRSTNAME -->
    <mat-form-field>
      <mat-label [class]='{validate : profileForm.value.firstName}'>{{'USER.firstName' | translate}}</mat-label>
      <input matInput formControlName='firstName' type="text" [class]='{validate : profileForm.value.firstname}'>
    </mat-form-field>

    <!-- LASTNAME -->
    <mat-form-field>
      <mat-label [class]='{validate : profileForm.value.lastName}'>{{'USER.lastName' | translate}}</mat-label>
      <input matInput formControlName='lastName' type="text" [class]='{validate : profileForm.value.lastname}'>
    </mat-form-field>

    <!-- AGE -->
    <mat-form-field>
      <mat-label [class]='{validate : profileForm.value.age}'>{{'USER.age' | translate}}</mat-label>
      <input matInput formControlName='age' [matDatepicker]="picker" [class]='{validate : profileForm.value.age}'>
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>{{icon.date_1}}</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <article>
      <button mat-button class='edit' [disabled]="profileForm.invalid">{{'BUTTON.edit' | translate}} <mat-icon>
          {{icon.edit}}</mat-icon></button>
    </article>

  </form>

</div>
