@import 'src/libs/variables';

// SNACK-BAR
::ng-deep .mat-snack-bar-container {
  background-color: $Green700;
  color: $White;
}

.container {
  height: 75vh;
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    width: 35vw;

    .mat-form-field {
      margin-bottom: 3vh;
    }

    article {
      display: flex;
      justify-content: center;
    }
  }
}
