@import 'src/libs/variables';

// SNACK-BAR
::ng-deep .mat-snack-bar-container {
  background-color: $Indigo400;
  color: $White;
}

// SIDENAV
#sidenav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
  background-color: $Indigo400;

  .logo {
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // LINK IN THE BAR
  #version {
    flex: 4%;
  }
  div {
    width: 85%;
    flex: 100%;

    p {
      font-size: 1.2rem;
      color: $White;
    }
  }
  section {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 3vh;
    cursor: pointer;
    padding-right: 1vw;
    color: $White;

    &:first-of-type {
      margin-top: 0vh;
    }

    h5 {
      margin-right: 1vw;
    }

    .mat-icon {
      font-size: 26px;
      vertical-align: middle;
    }

    &:hover {
      h5,
      .mat-icon {
        font-weight: 500;
        color: $Amber;
      }
    }
  }

  .line {
    border-top: 2px solid #ccc;
    padding-top: 3vh;
  }

  .loin {
    margin-bottom: 5vh;
  }
}

// TOOLBAR

mat-toolbar {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  padding: 0;
  border-bottom: 1px solid #ccc;

  section {
    display: flex;
    align-items: baseline;

    article {
      display: flex;
      align-items: center;
      margin: 0 1vw;
      cursor: pointer;
      color: #777;

      h5 {
        color: #777;
        margin-left: 1vw;
        cursor: auto;
      }

      .mat-form-field {
        width: 2.3vw;
      }

      .mat-icon {
        vertical-align: middle;
      }

      &:hover {
        .mat-icon {
          color: #333;
          font-weight: 500;
        }
      }
    }
  }
}
