@import 'src/libs/variables';

.container {
  padding: 2vh 1vw;
  height: 83vh;

  /* SEARCH BAR + BUTTON */

  section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
  }
}
