// GENERAL
#head {
  height: 18vh;
  padding: 3vh 3vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  img {
    width: 15vw;
  }

  #btn {
    display: flex;
    align-items: flex-start;

    .mat-button {
      &:last-of-type {
        margin-left: 0.5vw;
      }
    }

    #lang {
      height: 5vh;
      border-left: 1px solid #777;
      margin-left: 1vw;
      padding-left: 0.5vw;
      display: flex;
      align-items: center;

      .mat-icon {
        vertical-align: middle;
      }

      .mat-form-field {
        width: 3vw;
      }
    }
  }
}

#text {
  height: 32vh;
  padding: 2vh 18vw;
  box-sizing: border-box;
  text-align: center;

  h2 {
    &:last-of-type {
      margin-top: 5vh;
      font-weight: 600;
    }
  }
}

#bottom {
  height: 45vh;
  padding: 2vh 7vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  .quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    q {
      margin-bottom: 3vh;
    }
  }
}

/* BREAKPOINT */

// M
.M {
  #head {
    height: 18vh;

    img {
      width: 17vw;
    }
    #lang {
      .mat-form-field {
        min-width: 3.5vw;
      }
    }
  }

  #text {
    height: 35vh;
    padding: 2vh 12vw;
  }

  #bottom {
    height: 40vh;
    padding: 2vh 6vw;

    img {
      width: 38vw;
    }
  }
}
