<section id='head'>
  <article>
    <img src="" alt="logo">
  </article>
  <article>
    <button mat-button class='add'>{{'try' | translate}}</button>
    <button class='outlined'>
      <mat-icon>{{icon.person}}</mat-icon>{{'signIn' | translate}}
    </button>
  </article>
</section>
<section id='text'>
  <h3>{{'TITLE.text1' | translate}}</h3>
  <h3>{{'TITLE.text2' | translate}}</h3>
</section>
<section id='bottom'>
  <img src="" alt="illu_femme">
  <article class="quote">
    <q>{{'quote' | translate}}</q>
    <button mat-button class="add">{{'try' | translate}}</button>
  </article>
</section>
