<form [formGroup]="loginForm" (ngSubmit)="login()">

  <!-- MAIL -->
  <mat-form-field appearance="standard">
    <mat-label [class]="{validate : loginForm.value.mail.valid}">{{'USER.mail' | translate}}</mat-label>
    <input [class]="{validate : loginForm.value.mail}" formControlName='mail' type="mail" matInput>
  </mat-form-field>

  <!-- PASSWORD -->
  <mat-form-field appearance="standard">
    <mat-label [class]="{validate : loginForm.value.password.valid}">{{'USER.mdp' |translate}}</mat-label>
    <input formControlName='password' [type]="mdp ? 'password' : 'text'" matInput>
    <mat-icon matSuffix (click)='mdp = !mdp' class='linked'>{{icon.eye}}</mat-icon>
  </mat-form-field>

  <!-- SUBMIT -->
  <article>
    <button mat-button class='add' [disabled]="loginForm.invalid">{{'BUTTON.login'
      | translate}}</button>
  </article>
</form>
