<div class="container">

  <!-- TITLE -->

  <article class='flex-row just-btwn align-center mb2'>
    <article>
      <h2>{{'dashboard' | translate |uppercase}} {{'editTitle' |translate}}</h2>
    </article>
    <article>
      <p><mat-icon id='back' (click)='Back()' *ngIf="Window">{{icon.back}}</mat-icon>
      <mat-icon id='close' (click)='Close()'>{{icon.statusNo}}</mat-icon></p>
    </article>
  </article>

  <ng-container *ngIf="dataSource$ | async as Jobs">
    <!--SHOW ALL JOBS -->
    <ul *ngIf="!Window">
      <li *ngFor="let job of Jobs" (click)='changeWindow(job)'><mat-card>
        <article>
          <!-- FAV + NAME -->
          <h4> <mat-icon [class]='{trueColor : job.favorite, falseColor : !job.favorite}'>{{ job.favorite ? icon.yesFav : icon.noFav}}</mat-icon> {{job.name | titlecase}}</h4>

          <!-- STATUS -->
          <p class='history' *ngIf="job.status == 'history'">{{'JOB.DESCRIPTION.statusWaitLong' | translate}}</p>
          <p class='send' *ngIf="job.status == 'send'">{{'JOB.DESCRIPTION.statusSendLong' | translate}}
          </p>
          <p class='done' *ngIf="job.status == 'done'">{{'JOB.DESCRIPTION.statusYesLong' | translate}}</p>
          <p class='clear' *ngIf="job.status == 'clear'">{{'JOB.DESCRIPTION.statusNoLong' | translate}}</p>
        </article>

        <article>
          <!-- EDIT BUTTON -->
          <mat-icon id='edit'>{{icon.edit}}</mat-icon>

        </article>
      </mat-card>
    </li>
  </ul>








<!-- edit JOB FORM -->
<ng-container *ngIf="selectedJob$ |async as selectedJob" >
<form *ngIf="Window" [formGroup]='editForm' (ngSubmit)="editJob(selectedJob.id!)">

  <!-- COL-1 -->
  <section>
    <!-- NAME -->
    <mat-form-field appearance="fill">
      <mat-label [class]='{validate : editForm.value.name}'> <mat-icon >{{icon.workPlace}}</mat-icon>{{'JOB.name' | translate | titlecase}}</mat-label>
      <input type='text' matInput [placeholder]="'JOB.DESCRIPTION.name' | translate" formControlName="name">
    </mat-form-field>

    <!-- WORK -->
    <mat-form-field appearance="fill">
      <mat-label [class]='{validate : editForm.value.work}'> <mat-icon>{{icon.work}}</mat-icon>{{'JOB.work' | translate | titlecase}}</mat-label>
      <input type='text' matInput [placeholder]="'JOB.DESCRIPTION.work' | translate" formControlName="work">
    </mat-form-field>

    <!-- TYPE -->
    <mat-form-field appearance="fill">
      <mat-label [class]='{validate : editForm.value.type}'> <mat-icon>{{icon.type}}</mat-icon>{{'JOB.type' | translate | titlecase}}</mat-label>
      <input type='text' matInput [placeholder]="'JOB.DESCRIPTION.type' | translate" formControlName="type">
    </mat-form-field>

    <!-- CITY -->
    <mat-form-field appearance="fill">
      <mat-label [class]='{validate : editForm.value.city}'> <mat-icon>{{icon.city}}</mat-icon>{{'JOB.city' | translate | titlecase}}</mat-label>
      <input type='text' matInput [placeholder]="'JOB.city' | translate | titlecase" formControlName="city">
    </mat-form-field>

  </section>


  <!-- COL-2 -->
  <section>
    <!-- STATUS -->
    <mat-form-field appearance="fill">
      <mat-label [class]='{validate : editForm.value.status}'> <mat-icon>{{icon.status}}</mat-icon>{{'JOB.statut' | translate | titlecase}}</mat-label>
      <mat-select formControlName='status' >
        <mat-option *ngFor="let status of status" [value]="status.value">
          {{status.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <!-- FAVORITE -->
    <mat-form-field appearance="fill">
      <mat-label [class]='{validate : editForm.value.favorite}'> <mat-icon>{{icon.fav}}</mat-icon>{{'JOB.DESCRIPTION.favorite' | translate | titlecase}}</mat-label>
      <mat-select  formControlName='favorite'>
        <mat-option *ngFor="let fav of favs" [value]="fav.value">
          {{fav.viewValue | titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <!-- DATE_1 -->
    <mat-form-field appearance="fill">
      <mat-label [class]='{validate : editForm.value.date_1}'> <mat-icon>{{icon.date_1}}</mat-icon>{{'JOB.date_1' | translate | titlecase}}</mat-label>
      <input  formControlName='date_1' matInput [matDatepicker]="picker1" [placeholder]="'JOB.DESCRIPTION.date_1' | translate" [disabled]="editForm.value.status == 'history' || !editForm.value.status">
      <mat-datepicker-toggle matSuffix [for]="picker1">
        <mat-icon matDatepickerToggleIcon>{{icon.date_1}}</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <!-- DATE_2 -->
    <mat-form-field appearance="fill">
      <mat-label [class]='{validate : editForm.value.date_2}'> <mat-icon>{{icon.date_2}}</mat-icon>{{'JOB.date_2' | translate | titlecase}}</mat-label>
      <input  formControlName='date_2' [min]='editForm.value.date_1' matInput [matDatepicker]="picker2" [placeholder]="'JOB.DESCRIPTION.date_2' | translate" [disabled]="editForm.value.status == 'history' || !editForm.value.date_1">
      <mat-datepicker-toggle matSuffix [for]="picker2">
        <mat-icon matDatepickerToggleIcon>{{icon.date_2}}</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

  </section>

<button mat-button class='edit' [disabled]="editForm.invalid">{{'BUTTON.edit' | translate | titlecase}}  <mat-icon>{{icon.edit}}</mat-icon></button>
</form>
</ng-container>
  </ng-container>

  </div>
