@import 'src/libs/variables';

::ng-deep .mat-dialog-container {
  padding: 3vh 3vw;
}

// SNACK-BAR
::ng-deep .mat-snack-bar-container {
  background-color: $Green700;
  color: $White;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  // TITLE
  #icn {
    display: flex;
    align-items: center;

    #close {
      margin-left: 0.5vw;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        color: $Red300;
      }
    }

    #back {
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        color: $Green700;
      }
    }
  }

  // JOB CARD LIST

  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    li {
      flex: 45%;
      margin: 2vh;

      .mat-card {
        display: flex;
        justify-content: space-between;
        border: 1px solid #ddd;
        cursor: pointer;
        transition: 0.3s;

        .mat-icon {
          font-size: 2rem;
        }

        #edit {
          color: $Green200;
          transition: 0.3s;
        }

        &:hover {
          background-color: $LightGreen;

          #edit {
            color: $Green700;
            font-size: 2.8rem;
          }
        }
        article {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;

          &:first-of-type {
            align-items: flex-start;
          }
        }
      }
    }
  }

  /* FORM */

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5vh 2vw;
    box-sizing: border-box;

    // INPUTS

    section {
      display: flex;
      flex-direction: column;
      flex: 42%;
      box-sizing: border-box;
      margin-bottom: 2vh;

      &:first-of-type {
        margin-right: 3vw;
      }
    }
    article {
      width: 100%;
    }
  }
}
